.profileList {
  max-width: 800px;
  height: 50px;
}

.profileLi {
  display: display-flex;
  margin: 15px;
  padding: 10px;
  font-size: 20px;
}

.formochka {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
