#home {
  position: relative;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100px;
  flex-direction: row;

  @media screen and ( max-width: 900px){
    flex-direction: column;
    margin-bottom: 20vh;
  }
  /* padding: 1.5rem 2rem 0; */
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 20%;
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  .badge-cmp, .tag-cmp {
    padding: 1vh 2vw;
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    color: white;

    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); */
  }

  span {
    font-size: 2.5rem;
    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }


  @media screen and (min-width: 2000px) {

    div:nth-child(1) {
      width: 260px;
      height: 260px;
    }

    div:nth-child(2) {
      margin: 1.3rem;
      width: 260px;
      height: 260px;
    }

    div:nth-child(3) {
      margin: 1.5rem;
      width: 260px;
      height: 260px;
    }

    div:nth-child(4) {
      width: 260px;
      height: 260px;
    }
  }
  @media screen and (max-width: 1200px) {

    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    /* div {
      margin: 1rem;
      width: 130px;
      height: 130px;
    } */
  }
}

.app__header-img {
  flex: 1;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    width: 250px;
    object-fit: contain;
    z-index: 1;
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50;
    z-index: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (max-width: 1200px) {
    margin: 1rem 0;
  }
}
